<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car List</title>
</head>
<head>
    <title>Cars List</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Model</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.name}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.price}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
